<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128067623339-9frd5fr4d0bd30kp2hdv451uig6fo6g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128067623339-9frd5fr4d0bd30kp2hdv451uig6fo6g2</string>
	<key>API_KEY</key>
	<string>AIzaSyBdKI1NJzLtUIKki5mwdX60p3XxnYC3CYE</string>
	<key>GCM_SENDER_ID</key>
	<string>128067623339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pushpank.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-e3c16</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-e3c16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128067623339:ios:ea0716940140f43490daee</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-e3c16.firebaseio.com</string>
</dict>
</plist>